<section class="col-sm-12 col-lg-3" id="search-bar">
    <aside>
      <section id="search-bar-container">
        <h2 class="fs-2">Search for a guest:</h2>
          <form id="search-form">
            <input type="text" action="/search" placeholder="Enter Name..." id="search-input" class="col-12 form-control">
              <button class="btn btn-primary col-12">Search</button>
          </form>
      </section>
      <section id="button-container"></section>
    </aside>
  </section>
  <main class="container">
    <section class="row">
      <div class="row row-cols-1 row-cols-md-3 g-4" id="cards-container">
        <div class="card text-center" id="demo-card">
          <div class="card-header">
            <h4>Taco Palace</h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <h5 class="card-subtitle">Phone, email</h5>
            <p class="card-text">Excellent person, very understanding. Good tipper. Loves gin martini.</p>
            <a href="#" class="btn btn-primary">5-Stars</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div> 
    </section>