<section class="row">
    <form class="form" id="reviewForm">
        <div class="field">
            <label class="label">Guest Name</label>
            <div class="control has has-icons-left">
                <input class="input" type="text" id="guestName" placeholder="e.g. John Doe">
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            </div>
        </div>
                
        <div class="field">
            <label class="label">Phone Number</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="phoneNumber" type="text" placeholder="555-555-5555">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                </span>
            </div>
        </div>
                
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" id="email" type="email" placeholder="e.g. someone@thisplace.com">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
                
        <div class="field">
            <label class="label">Rating</label>
                <div class="control" id="starContainer">
                    <div class="container" id="container">
                        <div class="star-widget">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star"></label>
                    </div>
                </div>
            </div>
                
        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea class="textarea" id="reviewComment" placeholder="Textarea"></textarea>
            </div>
        </div>
                
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
    </form>
    
</section>
<script src="./js/rating.js"></script>
<script src="./js/newReview.js"></script>